.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: steelblue;
}
.container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  background: white;
}
.allUsers {
  border: 1px solid black;
  background: #8080803d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleUser li {
  list-style: none;
  text-align: left;
  margin-right: 2rem;
}
button {
  margin: 1rem;
}
